.home-page-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:20vh;
    background-color: #f1edfd;
    border-radius: 30px;
    padding: 50px;

}
.home-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;

}
.ahead-app-text{
    font-size: 18px;
    font-weight: 400;
    color: #000;
    margin-bottom: 0px;

}
.home-heading{
    font-size: 55px;
    color: #000;
    margin-top: 10px;
    margin-bottom:10px;

}
.app-and-rating-container{
    display: flex;
    align-items: center;
} 
.app-store-image{
    margin-top: -20px;
    margin-right: 30px;
    width: 150px;

}
.five-star-image{
    width: 150px;
}
.rating{
    margin-top: 0px;
    font-size: 15px;
}
.mobile-image{
    width:35vw;
}